@media only screen and (max-width: 1389px) {
  .courses-container {
    display: none;
  }

.course_container table {
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
  }

  th {
    color: #696969;
    font-size: 3rem;
  }

th, td {
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #DCDCDC;
}

tr:nth-child(odd) {
  background-color: #FFF5EE;
}

}

@media only screen and (max-width: 1200px) {

.logo {
  display: none;
}

.mobile {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#desktop {
  display: none;
}

.banner_container {
  padding: 10px;
  flex-wrap: wrap;
  margin: auto;
}

.banner_container img {
  width: 95%;
  height: 20rem;
  margin: auto;
  overflow: hidden;
}

.start {
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  margin: 32px 16px;
  width: 100%;
}

.practice {
  display: none;
}

.info_container {
  display: block;
  justify-content: flex-start;
  width: 100%;
  padding: 0;

}

.campus_text {
  flex-flow: wrap column;
  border: 0;
  height: auto;
  text-align: left;
}

.embed {
  display: none;
}

.mobile-embed {
  display: none;
}

.video h2{
  display: none;
}


.thesis_info {
  padding-bottom: 24px;
}
.thesis_info .campus_text {
  display: none;
}

.holder-thesis-info {
  display: none;
}

footer nav {
  display: none;
}

footer .mobile-footer {
  display: inline-flex;
  margin-right: 50px;
}

@media only screen and (max-width: 780px) {

.mobile-embed {
  display: block;
  height: auto;
  width: 100%;
  padding: 0;
}
}
