@media only screen and (max-width: 1000px) {

.logo {
  display: none;
}

.mobile {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#desktop {
  display: none;
}

.banner_container {
  padding: 10px;
  flex-wrap: wrap;
  margin: auto;
}

.banner_container img {
  width: 100%;
  height: 180px;
  margin: auto;
  overflow: hidden;
}

.start {
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  margin: 32px 16px;
  width: 100%;
}

.practice {
  display: none;
}

.info {
  display: block;
  justify-content: flex-start;
  width: 100%;
  padding: 0;

}

.campus_text {
  flex-flow: wrap column;
  border: 0;
  height: auto;
  text-align: left;
}

.course_container {
  display: block;
  justify-content: space-around;
  padding-bottom: 24px;
  background-color: inherit;
  height: auto;
}

.course_title h2 {
  font-size: 1.5rem;
  margin: 32px;
  text-align: left;
  background-color: inherit;
  height: .5rem;
}

.course {
  justify-content: space-around;
  width: 100%;
  height: .5rem;
  margin: 0 auto;
}

.course h3, p {
  display: none;
}

.course_title img {
  display: none;
}

.embed {
  height: auto;
  width: 100%;
  padding: 0;
}

.video h2{
  display: none;
}

.embed:hover {
  display: none;
}

.thesis_info {
  padding-bottom: 24px;
}
.thesis_info .campus_text {
  display: none;
}

.holder-thesis-info {
  display: none;
}

footer {
  justify-content: center;
}

footer p {
   font-size: 1rem;
}

footer nav ul {
  display: none;
}
}
