/*universal style sheet*/
/* latin-ext */

html {
  line-height: 1.4;
}

body {
  font-family: 'Merriweather', serif;
  font-family: 'Source Serif Pro', serif;
  font-size: 16px;
  background-color: #FFF5EE;
}

strong {
  color: #696969;
}

ul li {
list-style-type: none;
}

a:link {
  text-decoration: underline;
  color: #A9A9A9;
  font-weight: bold;
}

a:visited {
  text-decoration: none;
  color: #A9A9A9;
}

a:hover {
  text-decoration: underline;
  color: #696969;
}

/*main header and navigagtion section*/

header {
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  background-color: #DCDCDC;
  z-index: 1;
  padding: 1rem 1.5rem;
}

.logo {
  display: inline-flex;
  height: 2rem;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem 1.5rem 1rem 1.5rem;
}

.logo img {
  height: 3rem;
  width: 3rem;
}

.logo #fancy {
  color: #484848;
  font-weight: 50;
}

.logo h1 {
  display: inline-flex;
  height: 2rem;
  flex-grow: 1;
  align-items: center;
  color: #808080;
  font-weight: 300;
  justify-content: flex-start;
}

header nav {
  display: inline-flex;
  justify-content: center;
  text-align: center;
  padding: 1rem 1rem;
  margin-right: 24px;
}

nav li {
  display: inline-block;
  padding: 1rem 1rem 1rem;
  font-size: 1.25rem;
  }

  .mobile {
      display: none;
    }

/*main banner and start section*/

.Container {
  margin-top: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: absolute;
  width: 100%;
}

.banner_container {
  display: flex;
  justify-content: center;
  max-width: 100%;
  color: #696969;
  background: #C0C0C0;
}

.learn img {
  margin-top: 32px;
  height: 100%;
  padding: 2rem 1.5rem;
  max-width: 95%;
  height: auto;
}

.start {
  display: block;
  width: 40%;
  height: auto;
  padding: 2rem, 1.5rem;
  margin-right: 100px;
  justify-content: center;
  text-align: center;
  }

.start h1{
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.4;
  margin-bottom: 1.5rem;
  text-align: center;
}

.start h2 {
  font-weight: 500;
  text-align: center;
}

button {
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #696969;
  color: white;
  line-height: 1.4;
  margin-bottom: 1.5rem;
  width: 100%;
  padding: 8px 8px;
  border: none;
  border-radius: 6px;
  transition: all 200ms ease-in 200ms;
}

button:hover {
  background-color: #FFF5EE;
  color: #696969;
}

/* campus information section */

.info_container {
  display: flex;
  justify-content: flex-start;
  max-width: auto;
  height: auto;
}

.practice {
  display: inline-block;
  justify-content: flex-start;
  text-align: center;
  max-width: 63%;
  height: auto;
  color: #696969;
  font-size: 1.5rem;
}

.practice:hover {
  background-color: #DCDCDC;
  border: 1px solid black;
}

.practice img {
  padding-top: 1rem;
  height: 100%;
  max-width: 95%;
  height: auto;
}

.info {
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  max-width: 40%;
  min-width: 290px;
  min-height: 168px;
  padding-top: .5rem;
}

.info:hover {
  background-color: #DCDCDC;
  border: 1px solid black;
}

.info img {
  display:inline-block;
  justify-content: space-between;
  height: auto;
  margin: 8px;
}

.campus_text {
  display: inline-block;
  justify-content: flex-end;
  margin-left: 8px;
  margin-right: 8px;
  color: #696969;
}

/* Course Listings */

.course_container {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  height: auto;
  background-color: #C0C0C0;
  padding: 24px;
  margin: 72px 72px;
  border-radius: 5px;
}

.title {
  display: block;
  justify-content: center;
  text-align: center;
  color: #696969;
  font-weight: bold;
  font-size: 32px;

}

.course_title {
  display: inline-block;
  justify-content: center;
  margin: 32px 32px;
  padding: 32px 16px;
  width: 25%;
  height: auto;
  border-radius: 5px;
}

.course_title:hover {
  background-color: #FFF5EE;
}

.course_title img {
  display: inline-block;
  justify-content: center;
  flex-wrap: wrap;
  width: 95%;
  height: auto;
  border-radius: 5px;
}

.course {
  display: inline-block;
  justify-content: center;
  text-align: center;
  width: 95%;
  height: auto;
  color: #696969;
  background-color: #FFF5EE;
  border-radius: 5px;
}

.course h2 {
  font-size: 1.5rem;
  line-height: 1;
}

.course h3 {
  font-size: .95rem;
  line-height: .75;
}

.course p {
  font-size: .85rem;
  line-height: 1rem;
}

.mobile-img {
  display: none;
}

table {
  display: none;
}

.video {
  display: inline-block;
  justify-content: flex-start;
  text-align: center;
  max-width: 60%;
  height: auto;
  color: #696969;
  font-size: 1.5rem;
  padding-top: 1rem;
}

.video:hover {
  background-color: #DCDCDC;
  border: 1px solid black;
}

.embed {
  display: block;
  width: 95%;
}

.mobile-embed {
  display: none;
}

.thesis_info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 40%;
  min-width: 290px;
  padding-top: .5rem;
}

.thesis_info:hover {
  background-color: #DCDCDC;
  border: 1px solid black;
}

.thesis_info img {
  display: inline-block;
  height: auto;
  margin: 8px;
}

.thesis_info .campus_text {
  display: inline-block;
  text-align: right;
  margin-left: 8px;
  margin-right: 24px;
  color: #696969;
  min-width: 290px;
}

/*footer section */

footer  {
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  background-color: #DCDCDC;
  z-index: 1;
  padding: 1rem 1.5rem;
  color: #696969;
}

footer nav{
  display: inline-flex;
  justify-content: center;
  text-align: center;
  padding: 1rem 1rem;
  margin-right: 24px;
}

nav li {
  display: inline-block;
  padding: 1rem 1rem 1rem;
  font-size: 1.25rem;
}

.mobile-footer {
  display: none;
}
