/*universal style sheet*/

html {
  line-height: 1.4;
}
@@import "https://fonts.googleapis.com/css?family=Merriweather"

body{
   font-family: 'Merriweather Sans', 'Times New Roman', serif,;font-size: 16px;
   background-color: #FFF5EE;
   font-size: 18px;
}

ul li {
list-style-type: none;
}

a:link {
  text-decoration: underline;;
  color: #A9A9A9;
  font-weight: bold;
}

a:visited {
  text-decoration: none;
  color: #A9A9A9;
}

a:hover {
  text-decoration: underline;
  color: #696969;
}

/*main header and navigagtion section*/

header {
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  background-color: #DCDCDC;
  z-index: 1;
  padding: 1rem 1.5rem;
}

.logo {
  display: inline-flex;
  height: 2rem;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem 1.5rem 1rem 1.5rem;
}

.logo img {
  height: 3rem;
  width: 3rem;
}

.logo #fancy {
  color: #484848;
  font-weight: 50;
}

.logo h1 {
  display: inline-flex;
  height: 2rem;
  flex-grow: 1;
  align-items: center;
  color: #808080;
  font-weight: 300;
  justify-content: flex-start;
}

header nav {
  display: inline-flex;
  justify-content: center;
  text-align: center;
  padding: 1rem 1rem;
  margin-right: 24px;
}

nav li {
  display: inline-block;
  padding: 1rem 1rem 1rem;
  font-size: 1.25rem;
  }

/*main banner and start section*/

.Container {
  margin-top: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: absolute;
  width: 100%;
}

.banner_container {
  display: flex;
  justify-content: center;
  max-width: 100%;
  color: #696969;
  background: #C0C0C0;
}

.learn img {
  margin-top: 32px;
  height: 100%;
  padding: 2rem 1.5rem;
  max-width: 95%;
  height: auto;
}

.start {
  display: block;
  width: 40%;
  height: auto;
  padding: 2rem, 1.5rem;
  margin-right: 100px;
  justify-content: center;
  text-align: center;
  }

.start h1{
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.4;
  margin-bottom: 1.5rem;
  text-align: center;
}

.start h2 {
  font-weight: 500;
  text-align: center;
}

button {
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #696969;
  color: white;
  line-height: 1.4;
  margin-bottom: 1.5rem;
  width: 100%;
  padding: 8px 8px;
  border: none;
  border-radius: 6px;
  transition: all 200ms ease-in 200ms;
}


button:hover {
  background-color: #FFFFF0;
  color: #696969;
}

/* campus information section */

.info_container {
  display: flex;
  justify-content: flex-start;
  max-width: auto;
  height: auto;
}


.practice {
  display: inline-block;
  justify-content: flex-start;
  text-align: center;
  max-width: 63%;
  height: auto;
  color: #696969;
  font-size: 1.5rem;
}

.practice:hover {
  background-color: #DCDCDC;
  border: 1px solid black;
}

.practice img {
  padding-top: 1rem;
  height: 100%;
  max-width: 95%;
  height: auto;
}

.info {
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  max-width: 40%;
  min-height: 168px;
  padding-top: .5rem;
}

.info:hover {
  background-color: #DCDCDC;
  border: 1px solid black;
}

.info img {
  display:inline-block;
  justify-content: flex-start;

  height: auto;
  margin: 8px;
}

.info .campus_text {
  display: inline-block;
  justify-content: flex-end;
  margin-left: 8px;
  margin-right: 8px;
  color: #696969;
}

/* Course Listings */

.course_container {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  height: auto;
  background-color: #DCDCDC;
}

.courses_container {
  display: inline-block;
  justify-content: center;
  padding: 24px;
  margin: 0px 32px 0px 32px;
}

.title {
  display: block;
  justify-content: center;
  text-align: center;
  color: #696969;

}

.course_title {
  display: inline-block;
  justify-content: center;
  margin: 0px 32px 0px 32px;
  width: 30%;
}

.course_title:hover {
  background-color: #FFF5EE;
}

.course_title img {
  display: inline-block;
  justify-content: center;
  flex-flow: wrap row;
  width: 95%;
  height: auto;
  margin: auto;
  padding-top: 0.5rem
}

.course {
  display: inline-block;
  justify-content: center;
  text-align: center;
  width: 95%;
  color: #696969;
  background-color: white;

}





/* Theseis Information */








footer  {
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  background-color: #DCDCDC;
  z-index: 1;
  padding: 1rem 1.5rem;
  color: #696969;
}

footer nav{
  display: inline-flex;
  justify-content: center;
  text-align: center;
  padding: 1rem 1rem;
  margin-right: 24px;
}

nav li {
  display: inline-block;
  padding: 1rem 1rem 1rem;
  font-size: 1.25rem;
}
